.form_container
{
    margin: auto;
   text-align: center;
   border: 2px solid pink;
   background-color: rebeccapurple;
   height: 300px;
   width: 290px;
}




.error
{
    color: red
}

.error1
{
    color:green;
}

input.ng-invalid.ng-touched
{
    border: 2px solid red;
    box-shadow: 0 0 0 0.15rem rgba(220,53,60, 0.25);
   outline: 0;

}