<!-- <p>templatedriven works!</p> -->
<!-- Name:<input type="text" appCharactersonly>
Number: <input type="text" appNumbersonly> -->

<!-- <p>template driven form</p> -->
 
<button (click)="getOwnerData()">owner data</button>

<form #loginForm="ngForm" autocomplete="off" class="form_container">
    <h2>Heading Form</h2>
    <!-- <label>Enter Your Full Name:</label><br>--->
    <input type="text" ngModel name="fullname"  #fullname="ngModel" pattern="[A-Za-z]*$" placeholder="enter a name" required minlength="5"><br>
    <!--<span *ngIf="!fullname.touched">Hit:Enter A Full Name</span><br>--->
    <span>Hit:Enter A Full Name</span><br>
    <span class="error" *ngIf="fullname.touched && fullname.errors?.['required'] && !fullname.valid">Name is required</span>
    <span class="error"  *ngIf="fullname.errors?.['minlength']">Enter At List 5 Characters</span> 
    <span class="error1" *ngIf="fullname.touched && !fullname.valid && fullname.errors?.['pattern'] &&!fullname.errors?.['minlength']">Name Is Invalid</span>
    <br>
     
    <label>Enter Address</label><br>
    <input type="text" ngModel name="address" #address="ngModel" appAlphanumeric required minlength="8"><br>
    <span class="error1" *ngIf="address.touched && address.errors?.['required']">Address is Required</span>
    
    <!-- <label>Enter A Password:</label><br>--->
    <br><input type="text" ngModel name="password" placeholder="enter a password"><br>
    <span>Enter A Password</span><br>
    <button [disabled]="!loginForm.valid" (click)="submit(loginForm.value)">Submit</button>
  
</form>

