.container
{
    border: 2px solid red;
    height: 190px;
    width: 240px;
    background-color: green;
}

.container1
{
    border: 2px solid red;
    height: 190px;
    width: 240px;
    background-color: green;
}