<p>landing works!</p>
{{softwareCmp}}<br><br>
{{fruits}} <br><br>
<button (click)="getData()">get_data</button>
<div *ngIf="data"> <!----*ngIf is a directives which is used for condictionaly show and hide same element--->
{{data.name}}     <!--we appplied if coddiction like ngIF if data is present in data only that time div elemnt will be enabled if data is not prenet in data that time div element will be disabled.------>
</div>

<button (click)="setData()">set_data</button>
<div *ngIf="fruits">
    {{fruits1}}
</div>

<!---alternate way to get and set data to serveces--->
<button (click)="getStudentName()">student_name</button>

<div *ngIf="studentName1">
{{studentName1}}
</div>

<button (click)="setstudentname()">set_studentname</button>

<button (click)="multiplication()">multiplication</button>
