<p>header works!</p>
<button routerLink="/HomeModule_home">home</button>&nbsp;&nbsp; <!---way1---->
<button routerLink="HomeModule_landing">landing</button>&nbsp;&nbsp;<!---way1---->
<button routerLink="/home-module/landing">landing</button>&nbsp;&nbsp;<!---way2---with lazy loading--->
<button routerLink="/home-module/home">home</button>&nbsp;&nbsp;<!---way2---with lazy loading--->
 <button routerLink="/home-module">initially landing</button>&nbsp;&nbsp;

 
<button routerLink="/testModule">Test</button>&nbsp;&nbsp;
<button routerLink="/testModule/test-contact">testcontact</button>&nbsp;&nbsp;
<button routerLink="/testModule/test-home">testhome</button>&nbsp;&nbsp;

<button routerLink="/directives">directives</button>&nbsp;&nbsp;
 <button routerLink="/forms">forms</button>-
<router-outlet></router-outlet>
