<p>reactiveform works!!</p>

<form [formGroup]="studentdataForm">  <!---here form name is studentdataForm--->
 <label>Name</label>
 <input type="text" formControlName="name"><br>
 <span class="error"
         *ngIf="studentdataForm.get('name')?.touched
         && studentdataForm.get('name')?.errors?.['required']">Name Is Required</span><br>
 <span class="error" *ngIf="studentdataForm.get('name')?.touched
        && studentdataForm.get('name')?.errors?.['minlength']">AtLeast 5 Characters Expected</span><br>        
 <label>Mob No</label>
 <input type="text" formControlName="mobno"><br>
 <span class="error"
   *ngIf="studentdataForm.get('mobno')?.errors?.['pattern']">Pattern Not Matched</span><br> 
 
 <input type="checkbox" formControlName="tnc">Please Accept Term And Condiction 
   <button [disabled]="studentdataForm.invalid" (click)="submit()">submit</button>
</form>  