<p>reactiveform works!!</p>

<!-- getting input box value -->

<input type="text" (keyup)="data($event)">  <!----way 1 --->
<input type="text" #inputbox (keyup)="data1(inputbox.value)"><!----way 2-->
<input type="text" [(ngModel)]="boxvalue"  (keyup)="data2()"><!-----way3-->

<form class="maincontainer" [formGroup]="studentdataForm"> <!---here form name is studentdataForm--->
    <label>firstName<span *ngIf="studentdataForm.get('name')?.touched
    && studentdataForm.get('name')?.errors?.['required']" class="error">*</span> </label>
    <input type="text" formControlName="name"><br>
    <span class="error" *ngIf="studentdataForm.get('name')?.touched
         && studentdataForm.get('name')?.errors?.['required']">Name Is Required</span><br>
    <span class="error" *ngIf="studentdataForm.get('name')?.touched
        && studentdataForm.get('name')?.errors?.['minlength']">AtLeast 5 Characters Expected</span><br>

    <label>lastName<span *ngIf="studentdataForm.get('lastname')?.touched
            && studentdataForm.get('lastname')?.errors?.['required']" class="error">*</span> </label>
    <input type="text" formControlName="lastname"><br><br>
    <span class="error" *ngIf="(studentdataForm.get('lastname')?.touched 
        || studentdataForm.get('lastname')?.dirty)  
        && studentdataForm.get('lastname')?.errors?.['pattern']">please match pattern</span><br>
    <!--?.dirty--mean--something write-->
    <span class="error"
        *ngIf="studentdataForm.get('lastname')?.touched && studentdataForm.get('lastname')?.errors?.['required']">lastname
        is required</span><br>

    <label>Mob No</label>
    <input type="text" formControlName="mobno"><br>
    <span class="error"
        *ngIf="studentdataForm.get('mobno')?.errors?.['pattern'] && !studentdataForm.get('mobno')?.errors?.['maxlength']">Pattern
        Not Matched</span><br>
    <span class="error"
        *ngIf="studentdataForm.get('mobno')?.errors?.['maxlength'] && !studentdataForm.get('mobno')?.errors?.['pattern']">max
        length is 10 digit</span><br>

  <label>City</label>
  <select formControlName="city">
    <!-- <option value="mumbai">mumbai</option>
    <option value="pune">pune</option>
    <option value="nashik">nashik</option>
    <option value="nagpur">nagpur</option>--->
  
     <option *ngFor=" let city of cities" [value]="city">{{city}}</option>

</select> <br><br>


        <label>password</label>  <!----either-(keyup)="passwordvalidation($event)"------(blur)="passwordvalidation($event)"--both valid-->
       <input [type]="showPassword ? 'text':'password'" formControlName="password" (keyup)="passwordvalidation($event)">
       <span><button (click)="showPasswordfunction()">show</button></span>
       <span class="error" *ngIf="isMatched">password not matched</span>
       <br><br>
 
<label>confirm password</label>
<input [type]="showPassword ? 'text':'password'" formControlName="confirmpassword" (keyup)="confirmpasswordvalidation1($event)">
<span><button (click)="showPasswordfunction()">show</button></span><br>
 <span class="error" *ngIf="isMatched">password not matched</span>
<br><br>




      <label>title</label>
      <input type="text" formControlName="title"><br>    
    <span class="error" *ngIf="studentdataForm.get('title')?.touched && studentdataForm.get('title')?.errors?.['isvalid']">title word is not acceptble as input</span><br>

      <input type="checkbox" formControlName="tnc">Please Accept Term And Condiction
   <br> <button [disabled]="studentdataForm.invalid" (click)="submit()">submit</button>
</form>