.main
{
    background-color: darkblue;
    height: 200px;
    width: 220px;
}

.main2 
{
    background-color:yellow;
    height: 120px;
    width: 150px;
}

.main3
{
    background-color: red;
    height: 100px;
    width: 140px;
}